﻿@model WebApplicationHumanResources.Request

@{
    ViewBag.Title = "Requests";
}
@using (Html.BeginForm())
{
    <h2>Kerkesa</h2>
<div class="form-group">
    @Html.LabelFor(model => model.UserID, "User", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownList("UserID",ViewBag.UserID as SelectList, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

</div>
}

