﻿@model WebApplicationHumanResources.User

@{
    ViewBag.Title = "adminPage";
}

<h2>adminPage</h2>

<div>
    @Html.ActionLink("Lista e Userave", "Index", "Users")
</div>
<div>
    @Html.ActionLink("User i Ri", "Create", "Users")
</div>