﻿@model WebApplicationHumanResources.User

@{
    ViewBag.Title = "employeePage";
}

<h2>employeePage</h2>

<div>
    @Html.ActionLink("Employee Requests", "RequestByUserLogedIn", "Requests")
</div>
<div>
    @Html.ActionLink("New Request ", "Create", "Requests")
</div>