﻿@model WebApplicationHumanResources.User

@{
    ViewBag.Title = "supervizorPage";
}

<h2>supervizorPage</h2>

<div>
    @Html.ActionLink("Employees", "Employees", "Users")
</div>
<div>
    @Html.ActionLink("Rishiko Kerkesa ", "rishiko", "Requests")
</div>